[Desktop Entry]
Version= 1.0
Icon=/home/ncx/Desktop/ncxRepo/NcXasm/ncxCraft/NcXpython/ncxGuiNote/source/iconz/ico.jpeg
Name= ncxGuiNote
Exec= /usr/bin/env python3 /home/ncx/Desktop/ncxRepo/NcXasm/ncxCraft/NcXpython/ncxGuiNote/ncxNote.py
Terminal=false
Type=Application
